html,
body,
#viewDiv {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.esri-popup .esri-feature-fields__field-label {
    width: 33.3%; /* 设置宽度为父容器的三分之一 */
    min-width: 100px; /* 可以设置一个最小宽度以确保标签的可读性 */
    white-space: nowrap; /* 防止标签换行 */
    overflow: hidden; /* 超出部分隐藏 */
    text-overflow: ellipsis; /* 超出部分显示省略号 */
}

.search-panel {
    position: absolute;
    top: 100px;
    left: 200px;
    z-index: 10;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #888;
}

#toggleSearchWidget {
    position: absolute;
    top: 30%;
    left: 10px;
    z-index: 30px;
    background: #fff;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#resultsModal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;    /*元素的内容周围添加20像素的内边距*/
    border-radius: 8px;   /*元素的边框设置8像素的圆角*/
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
    width: 300px; /* 调整宽度以适应内容 */
}
#resultsList {
    max-height: 600px; /*设定了列表的最大高度为600像素。这意味着列表在内容过多时高度不会超过这个值，有助于避免列表占用过多的屏幕空间。*/
    overflow-y: auto;  /*当内容超出列表的高度时，将显示滚动条。*/
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#resultsList li {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}
#resultsList li:hover {
    background-color: #f0f0f0; /* 鼠标悬停时的背景颜色 */
}
#resultsList li:last-child {
    border-bottom: none;
}
button {
    display: block;
    margin-top: 10px;
}
.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}